.header {
    display: flex;
    align-items: center;
    justify-content : space-between;
    z-index: 999;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.header___logo {
    object-fit: contain;
    height: 100px;
}

.header___icon {
    color: rgb(255, 255, 255);
    padding: 30px;
}

.header > img {
    padding-right: 40px;
}