body {
    background: linear-gradient(140deg, #FD297B 0%,rgb(222, 222, 146) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;    
}
